/* ================================= */
/* ------------ ABOUT ------------ */
/* ================================= */
.galleryImg{
	padding: 0;
}
.itemCard h5{
 text-align: -webkit-left;
    color: black;
    font-size: 0.5em;

}