.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}
.close {
      position: absolute;
    right: 10px;
    top: 10px;
}
.nav-tabs>li>a:hover{
  background-color: black !important;
  color: white !important;
}
.modal-title{
  width: 50%;
  margin: auto;
  text-align: center;
}
.App-intro {
  font-size: large;
}
.modal-title{
      width: 23%;
    margin: auto;
}
.modal .close{
  position: absolute;
      bottom: 81%;
    right: 5px;
    font-size: 2em;
}
.peach-gradient{
  background: linear-gradient(1deg,#FFD86F,#FC6262);
  box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
  padding: 5px;
}
.card-cascade .card-body {
    margin-left: 4%;
    margin-right: 4%;
    background: whitesmoke;
    z-index: 1;
    border-radius: 0 0 .3rem .3rem;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    padding: 10px;
    color: #339;
}
.card-cascade img{
  width: 100%;
    margin-bottom: 10px;
}
.card-cascade h5{
    color: white;
}
#info{
  height: 2em;
    width: 2em;
    margin: 5px;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.modal-cotizacion .modal-header {
  background-color: #0099cc;
      height: 64px;
}
.modal-cotizacion .close{
  font-size: 30px;
}
.btn-info{
      position: absolute;
    border-radius: 20px;
}
.card-cascade span{
  right: 0;
}
#nuevo{
  display: none;
}
.md-form{
      font-size: 14px !important;
}
#modalArticulos .col-md-4{
      margin-bottom: 15px;
}
header #top{
  background-color: #000;
}
#menu{
  padding-bottom: 17px;
}
/* ================================= */
/* ------------ HEADER ------------ */
/* ================================= */
header {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 999;
}
.rightnav {
	margin-top: 1.5em;
	text-align: right;
}
.list-inline > li.phone {
	position: relative;
	padding-left: 3.5em;
	font-size: 1em;
}
.navbar-default {
	background-color: transparent;
	border:none;
}
.navbar-nav {
	width:100%;
	text-align:right;
	font-size:0;
}
.navbar-nav li {
	display: inline-block;
	float:none;
}
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:hover {
	color: #FFF;
	font-size: 15px;
	text-decoration: none;
	display: block;
	padding:0.65em 1em;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > li > a:focus {
	color: #FFF;
	-webkit-border-radius:5em;
	border-radius:5em;
}
.navbar {
	min-height:1em;
	margin:0;
}
.navbar-default .navbar-toggle {
	margin:0;
	border:none;
	width: 100%;
}
.navbar-default .navbar-toggle:hover,.navbar-default .navbar-toggle:focus{background-color:transparent; }

.navbar-default .navbar-toggle .icon-bar {
	background-color:#FFF;
	width: 100%;
	height: 5px;
}
#top img{
  max-width: 150%;
  float: left;
}
.card-cascade h6 {
  font-size: 11px;
  margin: 10px;
}
.card-cascade button{
  margin: 5px
}
.card-cascade p{
  font-size: 13px;
}
.card-cascade h5{
  font-size: 1.3em;
}

#collapseExample img{
      width: auto;
      /*width: 340px;
    float: right;
    margin-right: -23px;
    margin-top: 4px;
      box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.15);*/
}

img.bandera-peru{
      float: right;
    height: 1.5em;
    width: 1.6em;
    margin: 5px;
    position: absolute;
    right: 0;
}