.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}
.close {
      position: absolute;
    right: 10px;
    top: 10px;
}
.modal-title{
  width: 50%;
  margin: auto;
  text-align: center;
}
.App-intro {
  font-size: large;
}
.modal-title{
      width: 23%;
    margin: auto;
}
.modal .close{
  position: absolute;
      bottom: 81%;
    right: 5px;
    font-size: 2em;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.modal-cotizacion .modal-header {
  background-color: #0099cc;
      height: 64px;
}
.modal-cotizacion .close{
  font-size: 30px;
}
.btn-info{
      position: absolute;
    border-radius: 20px;
}